@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --brand-black: #0b0b0b;
  --muted: #6b7280;
}

/* Simple container width like screenshots */
.container-wide{ max-width: 1200px; margin-left: auto; margin-right: auto; }
